{% load static %}

{% for source, days_dict in grouped_data.items %}

                        <div class="source-report">

                            <div class="source-name source-left">{{source}}</div>
                            {% for target_date, report in days_dict.items %}

                                {% if report %}
                                    <div class="day-report">
                                        <img src="{% static report.icon_path %}" alt="{{ report.get_condition_display }}" class="weather-icon">

                                        <div class="temperatures">
                                            <span class="temp-min">{{ report.min_temp }}°</span>
                                            <span class="temp-divider"></span>
                                            <span class="temp-max">{{ report.max_temp }}°</span>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="day-report-undefined">Немає даних</div>
                                {% endif %}

                            {% endfor %}
                            <div class="source-name source-right">{{source}}</div>

                        </div>

                    {% endfor %}