{% load static %}

<!DOCTYPE html>
<head lank="uk">
    <meta charset="utf-8" />
    <meta name="author" content="GVivaLd1" />
    <meta name="description" content="Main page" />
    <meta name="keywords" content="weather, statistics" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}" />
    <title>MeteoHub</title>
</head>
<body>
    <aside>
        <nav>
            Navigation
            <ol start="1">
                <li><a href="#about">About website</a></li>
                <li><a href="#comparison">Sources comparison</a></li>
                <li><a href="#statistics">Statistics</a></li>
            </ol>
        </nav>
    </aside> 
    <main>
        <header>
            <h1>MeteoHub - weather info from different sources</h1>
        </header>
        <section>
            <h2><a name="about">About website</a></h2>
        </section>
        <section>
            <h2><a name="comparison">Sources comparison</a></h2>
            <div id="weather-info">
                <div id="summary"></div>
                <div id="comparison-block">
                    <div class="days-of-week">
                        <div class="spacer"></div>
                        {% for d in dates %}
                            <div class="day-name">
                                <span class="day-weekday">{{ d|date:"l" }}</span>
                                <span class="day-date">{{ d|date:"d.m" }}</span>
                            </div>
                        {% endfor %}
                        <div class="spacer"></div>
                    </div>
                    {% for source, days_dict in grouped_data.items %}

                        <div class="source-report">

                            <div class="source-name source-left">{{source}}</div>
                            {% for target_date, report in days_dict.items %}

                                {% if report %}
                                    <div class="day-report">
                                        <span class="temp-min">{{ report.min_temp }}°</span>
                                        <span class="temp-divider"></span>
                                        <span class="temp-max">{{ report.max_temp }}°</span>
                                    </div>
                                {% else %}
                                    <div class="day-report-undefined">Немає даних</div>
                                {% endif %}

                            {% endfor %}
                            <div class="source-name source-right">{{source}}</div>

                        </div>

                    {% endfor %}
                </div>
            </div>
        </section>
        <section>
            <h2><a name="statistics">Statistics</a></h2>
        </section>
    </main>
</body>